python-binance
polars
polars-talib
sqlalchemy
aiosqlite
httpx
openai
rich
hmmlearn
numpy
scikit-learn
pydantic
pydantic-settings
structlog
dependency-injector
colorama
aiohttp
joblib
uvloop; sys_platform != "win32"

